body,html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.login_top{
    min-width: 1200px;
    width: 100%;
    height: 30px;
}
.login_top_right{
    float:right;
    margin: 15px 100px 0 0;
}
.login_top_right a{
    text-decoration: none;
    color:#959595;
}

.login_top_right a:hover{
    color: #959595;
}

.reg{
    margin-right: 25px;
}

.content{
    min-width: 1200px;
    min-height: 100%;
    /*background: url("../../img/system/bbb.png") no-repeat;*/
    background-size: 100% 100%;
    height: auto;
}
.content-top{
    min-width: 1200px;
    height:80px;
    text-align: center;
    background-color: #7bbfea;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.nav-ul{
    list-style:none;
    padding-left: 80px;
}
.nav-ul li{
    min-width: 8%;
    height: 60px;
    text-align: center;
    float: left;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
/*.nav-ul li:first-child{
    margin-left: 6%;
}*/

.nav-ul li:hover{
    background-color: #7bbfea;
    color: white;
}
.nav-ul-li{
    float: left;
    height: 60px;
    line-height: 80px;
    text-align: center;
    font-family: microsoft yahei,arial,sans-serif;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: all 0.6s linear 0s;
    position: relative;
    margin-left: 80px;
}
.drop-list{
    height: auto;
    background-color: white;
    position: absolute;
    z-index: 9999;
    display: none;
}
.drop-list ul{
    list-style:none;
    margin-left: -50px;
}
.drop-list ul li{
    height: 40px;
    background-color: #7bbfea;
    line-height: 40px;
    border-bottom: 1px dashed gainsboro;
    color: white;
    width: 125px;
}
.drop-list ul li:last-child{
    border-bottom: none;
}
.drop-list ul li:hover{
    background-color: #c4e1ff;
}

/*����*/
.content-main{
    width: 1000px;
    height: 800px;
    margin: 30px auto;
    /*background-color: red;*/
}
.content-main-left{
    float: left;
    width: 25%;
}
.content-main-left-top{
    width: 100%;
    height:210px;
    border-radius: 5px;
    border: 2px solid #8DC63F;
}
.content-main-left-top-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: white;
    background-color: #8DC63F;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin :0 auto;
}
.content-main-left-top-content{
    font-family: microsoft yahei,arial,sans-serif;
    text-align: center;
    font-size: 18px;
    margin :0 auto;
    color: #595757;
}
.content-main-left-top-content ul li{
    list-style: none;
    border-top: 2px solid #8DC63F;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: -40px;
}
.content-main-left-top-content li:first-child{
    border-top: none;
    padding-top: 0px;
}

.content-main-left-bottom{
    margin-top: 50px;
    width: 100%;
    height:200px;
    border-radius: 5px;
    border: 2px solid #8DC63F;
}
.content-main-left-bottom-1{
    padding: 10px 5px 0 10px;
    color: #595757;
}

.content-main-right{
    float: right;
    width: 70%;
    /*background-color: yellow;*/
}
.content-main-right-title{
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: #595757;
    border-bottom: 2px solid #8DC63F;
}
.content-main-right-title1{
    font-family: "microsoft yahei";
    color: #8DC63F;
    font-size: 25px;
    font-weight:bold;
    margin-top: 20px;
}
.content-main-right-content{
    font-size: 16px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    text-indent:2em;
    margin-top: 10px;
    color: #595757;
    line-height:1.5;
}
.content-main-right-content1{
    font-size: 18px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    /*text-indent:2em;*/
    margin-top: 10px;
    color: #595757;
    line-height:1.5;
}
.content-main-right-content1 a{
    font-size: 18px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    /*text-indent:2em;*/
    color: #595757;
    text-decoration: none;
}
.color{
    color: #8DC63F;
}
/*�ײ�����*/
.footer{
    min-width: 1200px;
    margin: 0 auto;
    height: 200px;
    background-color: #323232;
    z-index: 9999;
}
.footer-content{
    margin: 0 auto;
    width:1000px;
    height:100px;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer-nav li{
    list-style:none;
    float: left;
    width: 130px;
}
.footer-nav-font{
    font-family: microsoft yahei, arial, sans-serif;
    font-size: 18px;
}

.footer-nav li a{
    color: #919191;
    text-decoration: none;
}
.footer-nav-font-second{
    margin: 0 auto;
    width:1000px;
    height:50px;
    font-family: microsoft yahei, arial, sans-serif;
    font-size: 18px;
    color: #434343;
    padding-left: 80px;
}